<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Minerva - Sylvanas{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/app.css" />
    {% endblock %}
    {#<script src="/js/modernizr.js"></script>#}
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran|Quicksand" rel="stylesheet">
</head>
<body>

<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle></button>
    <div class="title-bar-title">Menu</div>
</div>

<header class="header">
    <h1 class="headline"><a href="{{ path('minerva_app_index_index') }}">Minerva Sylvanas</a></h1>

    <div class="grid-x main-menu">
        <div class="cell">

            <div class="grid-container">
                <div class="top-bar" id="example-menu">
                    <div class="top-bar-left">
                        {{ knp_menu_render('main') }}
                    </div>
                    {#<div class="top-bar-right">#}
                        {#{{ knp_menu_render('account') }}#}
                    {#</div>#}
                </div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="grid-container">
        {#<div class="grid-x breadBar">#}
            {#<div class="cell">#}
                {#<nav aria-label="You are here:" role="navigation">#}
                    {#<ul class="breadcrumbs">#}
                        {#<li><a href="#0">Home</a></li>#}
                        {#<li><a href="#0">Some page</a></li>#}
                        {#<li class="disabled">disabled</li>#}
                        {#<li>#}
                            {#<span class="show-for-sr">Current: </span> Current page#}
                        {#</li>#}
                    {#</ul>#}
                {#</nav>#}
            {#</div>#}
        {#</div>#}
        <div class="grid-x mainContent">
            <div class="large-8 cell content">{% block body %}{% endblock %}</div>
            <div class="large-3 large-offset-1 cell sidebar">
                <h2>Random</h2>
                <p>Some random stuff here? Maybe the account you're logged in with, including avatar, or for officers pending applications, stuff like that</p>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
    <div class="grid-container">

        {#<div class="grid-x footer-navigation">#}
            {#<div class="small-3"><h2>Navigation</h2>{{ knp_menu_render('main') }}</div>#}
            {#<div class="small-3"><h2>Armory</h2></div>#}
            {#<div class="small-3"></div>#}
            {#<div class="small-3"><h2>Contact</h2></div>#}
        {#</div>#}

        <div class="grid-x copyright">
            <div class="cell">
                copyright &copy; 2017 - <a href="https://www.minerva-sylvanas.com">www.minerva-sylvanas.com</a>
            </div>
        </div>
    </div>
</footer>

{% block javascripts %}
    <script src="/js/libs.js"></script>
    <script src="/js/common.js"></script>
{% endblock %}
</body>
</html>